<div class="page-title">
  <h4>
    Анализ пользователей сообщества
    <i
      class="material-icons black-text pointer"
      (click)="openInfo()"
    >
      info_outline
    </i>
  </h4>
</div>

<app-sex></app-sex>
<app-universities></app-universities>
<app-city></app-city>
<app-country></app-country>
<app-faculty></app-faculty>
<app-chair></app-chair>
<app-graduation></app-graduation>
<app-education-form></app-education-form>
<app-education-status></app-education-status>

<div class="tap-target" data-target="menu" #tapTarget>
  <div class="tap-target-content">
    <h5>Зачем нужна эта страница?</h5>
    <p>Страница “Анализ сообщества” покажет структурированную информацию по участникам сообщества ВКонтакте. Графики помогут вам оценить аудиторию.</p>
  </div>
</div>