<div class="page-title">
  <h5>Страны</h5>
  <button
    (click)="isFilterVisible = !isFilterVisible"
    class="btn btn-small"
    [ngClass]="{
      'active': isFilterVisible,
      'red': isFilter()
    }"
    data-tooltip="Открыть опции"
    data-position="left"
    #tooltip
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-users-filter 
  *ngIf="isFilterVisible"
  (onFilter)="applyFilter($event)"
>
</app-users-filter>

<div class="analytics-block pb3" style="height:500px;" [style.display]="pending ? 'none' : 'block'">
  <canvas #countryChart></canvas>
</div>
<app-loader *ngIf="pending"></app-loader>