<div class="page-title">
  <h4>
    Аналитика постов
    <i
      class="material-icons black-text pointer"
      (click)="openInfo()"
    >
      info_outline
    </i> 
  </h4>
  <button
    (click)="isFilterVisible = !isFilterVisible"
    class="btn btn-small"
    [ngClass]="{
      'active': isFilterVisible,
      'red': isFilter()
    }"
    data-tooltip="Открыть опции"
    data-position="left"
    #tooltip
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-posts-filter
  *ngIf="isFilterVisible"
  (onFilter)="applyFilter($event)"
>
</app-posts-filter>

<div class="analytics-block pb3" style="height:500px;" [style.display]="pending ? 'none' : 'block'">
  <canvas #chart></canvas>
</div>

<div *ngIf="!pending">
  <div *ngIf="posts.length > 0; else empty">
    <app-posts-table ></app-posts-table> 
  </div>
  <ng-template #empty>
    <div class="center">Посты отсутствуют</div>
  </ng-template>
</div>

<app-loader *ngIf="pending"></app-loader>

<div class="tap-target" data-target="menu" #tapTarget>
  <div class="tap-target-content">
    <h5>Зачем нужна эта страница?</h5>
    <p>Страница "Аналитика постов" покажет заинтересованность участников по последним 30 постам в сообществе ВКонтакте.</p>
  </div>
</div>
